@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);

:root {
	--columns: 		3;
	--guildsize: 		50;
	--guildgap: 		3;
	--aligndms: 		1;

	--columns_v: 		var(--columns_s, var(--columns));
	--guildsize_v: 		var(--guildsize_s, var(--guildsize));
	--guildgap_v: 		var(--guildgap_s, var(--guildgap));
	--aligndms_v: 		var(--aligndms_s, var(--aligndms));
}
.visual-refresh .wrapper_ef3116 .listItem__650eb {
	--guildgap_v: 		0;
}
.wrapper_ef3116 #sort-button,
.wrapper_ef3116 .friendsOnlineWrap_aa9717,
.wrapper_ef3116 .serverCountWrap_1dcf05,
.wrapper_ef3116 .frame_aa90f4 {
	--guildgap_v: 		var(--guildgap_s, var(--guildgap));
}

.titleBar__421ed.typeMacOS__421ed,
.titleBar__421ed.typeMacOS__421ed .macButtons__421ed,
.wrapper_ef3116,
.wrapper_ef3116 .unreadMentionsIndicatorTop_ef3116,
.wrapper_ef3116 .unreadMentionsIndicatorBottom_ef3116 {
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 20 * (var(--guildsize_v)/50) + 14 * (var(--guildsize_v)/50) * (var(--columns_v) - 1))) !important;
}
.titleBar__421ed.typeMacOS__421ed .macButtons__421ed {
	padding-right: calc(1px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns) - 50)) !important;
}
body.folderContentIsOpen_ac0584 .titleBar__421ed.typeMacOS__421ed,
body.folderContentIsOpen_ac0584 .titleBar__421ed.typeMacOS__421ed .macButtons__421ed {
	width: calc(2px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns_v) + 35 - 25)) !important;
}
body.folderContentIsOpen_ac0584 .titleBar__421ed.typeMacOS__421ed .macButtons__421ed {
	padding-right: calc(1px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns_v) * 2 - 40)) !important;
}
.titleBar__421ed.typeMacOS__421ed.typeMacOSWithFrame__421ed .macButtons__421ed {
	margin-top: 0 !important;
	margin-right: 0 !important;
}
.wrapper_ef3116,
.wrapper_ef3116 .tree_ef3116 {
	padding: 0 !important;
	border: 0 !important;
}
.wrapper_ef3116.hidden_ef3116,
.wrapper_ef3116[style*="width: 0px"] {
	width: 0 !important;
}
.wrapper_ef3116 .scroller_ef3116 {
	padding: 0 0 0 calc(10px * var(--guildsize_v)/50) !important;
	border: 0 !important;
}
.wrapper_ef3116 .footer__214dc {
	padding-left: calc(10px * var(--guildsize_v)/50) !important;
	width: 100% !important;
	box-sizing: border-box !important;
}
.wrapper_ef3116 .scroller_ef3116.none__99f8c::-webkit-scrollbar,
.wrapper_ef3116 .scroller_ef3116.none_d125d2::-webkit-scrollbar {
	width: 0 !important;
}
.wrapper_ef3116 .scroller_ef3116,
.wrapper_ef3116 .scroller_ef3116 > [role="tree"],
.wrapper_ef3116 .scroller_ef3116 > .stack_dbd263,
.wrapper_ef3116 .listItem__650eb + div[aria-label]:not([class]) {
	margin: 0 !important;
	display: flex !important;
	flex-flow: row wrap !important;
	align-content: flex-start !important;
	gap: unset !important;
}
.wrapper_ef3116 .scroller_ef3116 > .stack_dbd263,
.wrapper_ef3116 .listItem__650eb + div[aria-label]:not([class]) {
	gap: unset !important;
	padding: unset !important;
}
.wrapper_ef3116 .listItem__650eb {
	margin: calc(1.5px* var(--guildgap_v)) calc(1px*(12* var(--guildsize_v) / 50)) calc(1.5px* var(--guildgap_v)) 0 !important;
}
.wrapper_ef3116 #server-search {
	margin: calc(1px * var(--guildgap_v)) calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2)) !important;
}
.wrapper_ef3116 #server-search .pill-3YxEhL {
	display: none;
}
.wrapper_ef3116 .listItem__650eb:first-child .listItemWrapper__91816,				/*	home		*/ 
.wrapper_ef3116 .listItem__650eb .pill__66ac8 ~ div:not([className]), 				/*	fav		*/ 
.wrapper_ef3116 .listItem__650eb .tutorialContainer__650eb .listItemWrapper__91816,		/*	add server	*/ 
.wrapper_ef3116 .tutorialContainer__650eb + .listItem__650eb {					/*	discovery	*/ 
	margin: 0 calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2)) calc(1px * var(--guildgap_v)) calc(1px * ((((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2))) !important;
}
.wrapper_ef3116 .tutorialContainer__650eb:nth-last-child(2) .listItem__650eb{
	margin-top: 8px !important;
	margin-bottom: 8px !important;
}
.wrapper_ef3116 .gradient__214dc {
	position: fixed !important;
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 20 * (var(--guildsize_v)/50) + 14 * (var(--guildsize_v)/50) * (var(--columns_v) - 1))) !important;
	top: calc(100% - 16px) !important;
}
.wrapper_ef3116 .listItem__650eb:first-child .pill_ed9a5f ~ .listItemWrapper__91816 {
	margin: 0 calc(1px * ((((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) * (1 - var(--aligndms_v)))) 0 calc(1px * (((0 * var(--aligndms_v)) + ((((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) * (1 - var(--aligndms_v)))))) !important;
}
.wrapper_ef3116 .blobContainer_e5445c,
.wrapper_ef3116 .guildsError__32e67 {
	margin: 0 !important;
}
.wrapper_ef3116 .listItem__650eb {
	width: auto !important;
}
.wrapper_ef3116 .tutorialContainer__06412 {
	width: 100%;
}
.wrapper_ef3116 .placeholderMask__6629f,
.wrapper_ef3116 .svg_cc5dd2,
.wrapper_ef3116 .wrapper_cc5dd2 {
	width: calc(1px * var(--guildsize_v)) !important;
	height: calc(1px * var(--guildsize_v)) !important;
}
.wrapper_ef3116 .svg_cc5dd2 {
	top: 0 !important;
	left: 0 !important;
}
.wrapper_ef3116 .scroller_ef3116 > div[style*="height"].pinned_c32045,
.wrapper_ef3116 .scroller_ef3116 > div[style*="height"]:not([class]),
.wrapper_ef3116 .scroller_ef3116 > .stack_dbd263 > div[style*="height"].pinned_c32045,
.wrapper_ef3116 .scroller_ef3116 > .stack_dbd263 > div[style*="height"]:not([class]) {
	height: calc(1px * var(--guildsize_v) * (54/50)) !important;
}
.wrapper_ef3116 .upperBadge_cc5dd2 .base__2b1f5 {
	transform: translate(calc(3px * ((38 - var(--guildsize_v))/10)), calc(-3px * ((38 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper_ef3116 .upperLeftBadge_820890 .base__2b1f5 {
	transform: translate(calc(-3px * ((38 - var(--guildsize_v))/10)), calc(-3px * ((38 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper_ef3116 .lowerBadge_cc5dd2 .base__2b1f5 {
	transform: translate(calc(3px * ((38 - var(--guildsize_v))/10)), calc(3px * ((38 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper_ef3116 .lowerLeftBadge_820890 .base__2b1f5 {
	transform: translate(calc(-3px * ((38 - var(--guildsize_v))/10)), calc(3px * ((38 - var(--guildsize_v))/10))) scale(calc(var(--guildsize_v)/50)) !important;
}
.wrapper_ef3116 .wrapper__58105 {
	top: calc(-5px * var(--guildsize_v)/50) !important;
	height: calc(1px * (var(--guildsize_v) + 10 * var(--guildsize_v)/50)) !important;
	transform: scale(calc(var(--guildsize_v)/50)) !important;
	transform-origin: 0 50% !important;
}
.wrapper_ef3116 .pill__1f388,	/*	home	*/ 
.wrapper_ef3116 .pill__66ac8 {	/*	fav		*/ 
	left: calc(1px * ((((var(--guildsize_v) + 10 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) - 9)) !important;
}
.wrapper_ef3116 .pill_ed9a5f {	/*	dm		*/ 
	left: calc(1px * ((var(--aligndms_v) + ((((var(--guildsize_v) + 10 * var(--guildsize_v)/50) * (var(--columns_v) - 1))/2) * (1 - var(--aligndms_v)))) - 8)) !important;
}
.wrapper_ef3116 .pill_e5445c,	/*	guild	*/ 
.wrapper_ef3116 .pill__5bc7e {	/* 	button	*/
	left: calc(-10px * var(--guildsize_v)/50) !important;
}
.wrapper_ef3116 .guildSeparator__252b6 {
	width: calc(1px * ((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * var(--columns_v) - (12 * var(--guildsize_v)/50))) !important;
	margin: calc(1px * (var(--guildsize_v)/10)) 0 !important;
	display: block !important;
}
.wrapper_ef3116 .guildsError__32e67 {
	width: calc(1px * var(--guildsize_v)) !important;
	height: calc(1px * var(--guildsize_v)) !important;
	font-size: calc(1px * (var(--guildsize_v)/4 + 7.5)) !important;
	line-height: calc(1px * (var(--guildsize_v)/4 + 6.5)) !important;
}
.wrapper_ef3116 #sort-button,
.wrapper_ef3116 .friendsOnlineWrap_aa9717,
.wrapper_ef3116 .serverCountWrap_1dcf05,
.wrapper_ef3116 .frame_aa90f4 {
	width: calc(1px * ((var(--guildsize_v)*4/5) + 12 * var(--guildsize_v)/50)) !important;
	text-align: center !important;
	margin: calc(1px * var(--guildgap_v)) calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1) - ((var(--guildsize_v)*4/5) + 12 * var(--guildsize_v)/50) + var(--guildsize_v))/2)) calc(1px * var(--guildgap_v)) calc(1px * (((var(--guildsize_v) + 12 * var(--guildsize_v)/50) * (var(--columns_v) - 1) - ((var(--guildsize_v)*4/5) + 12 * var(--guildsize_v)/50) + var(--guildsize_v))/2)) !important;
}
.wrapper_ef3116 #sort-button > div,
.wrapper_ef3116 .label_caf933,
.wrapper_ef3116 .frame_aa90f4 .innerFrame_aa90f4,
.wrapper_ef3116 .frame_aa90f4 .button_aa90f4 {
	white-space: pre !important;
	width: 100% !important;
}
.wrapper_ef3116 .label_caf933 {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	height: calc(1px * ((var(--guildsize_v)/5) + 5)) !important;
	font-size: calc(1px * ((var(--guildsize_v)/8) + 3)) !important;
	margin: 0 !important;
}
.wrapper_ef3116 #sort-button > div,
.wrapper_ef3116 .frame_aa90f4 .button_aa90f4 {
	height: calc(1px * ((var(--guildsize_v)/5) + 10)) !important;
	line-height: calc(1px * ((var(--guildsize_v)/5) + 10)) !important;
	font-size: calc(1px * ((var(--guildsize_v)/8) + 6)) !important;
}

.wrapper_ef3116 .folderGroup__48112 {
	border-bottom: calc(1px * var(--guildgap_v)) solid transparent !important;
	margin: calc(1px * var(--guildgap_v)) calc(1px * (12 * var(--guildsize_v)/50)) auto 0 !important;
	width: calc(1px * var(--guildsize_v)) !important;
}

.wrapper_ef3116 .folderGroup__48112.isExpanded__48112 {
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 12 * (var(--guildsize_v)/50) * (var(--columns_v) - 1))) !important;
}

.wrapper_ef3116 .folderGroup__48112 > .listItem__650eb {
	margin: 0 !important;
}

.wrapper_ef3116 .folderGroup__48112 .folderGuildsList__48112,
.wrapper_ef3116 .folderGroup__48112 [role="group"] {
	height: auto !important;
	overflow: visible !important;
	margin: 0 !important;
	margin-left: -1px !important;
	padding: calc(4px * var(--guildsize_v)/50) 0 calc(4px * var(--guildsize_v)/50) 1px !important;
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	align-content: flex-start !important;
	gap: 0 !important;
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 12 * (var(--guildsize_v)/50) * (var(--columns_v) - 1))) !important;
}

.wrapper_ef3116 .folderGroup__48112:not(.isExpanded__48112) .stack_dbd263,
.wrapper_ef3116 .folderGroup__48112:not(.isExpanded__48112) .folderGuildsList__48112 {
	display: none !important;
}

.wrapper_ef3116 .folderGroup__48112.isExpanded__48112 [role="group"] .listItem__650eb {
	margin: calc(1.5px * var(--guildgap_v)) calc(1px * (6 * var(--guildsize_v)/50)) calc(1.5px * var(--guildgap_v)) 0 !important;
	flex-shrink: 0 !important;
}

.wrapper_ef3116 .folderGroup__48112.isExpanded__48112 [role="group"] .listItem__650eb:nth-child(3n) {
	margin-right: 0 !important;
}
.wrapper_ef3116 .folderGroupBackground__48112 {
	width: calc(1px * var(--guildsize_v)) !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	margin-bottom: 0 !important;
	border-radius: calc(16px * var(--guildsize_v)/50) !important;
}

.wrapper_ef3116 .folderGroup__48112.isExpanded__48112 .folderGroupBackground__48112 {
	width: 100% !important;
}
.wrapper_ef3116 .folderHeader__48112,
.wrapper_ef3116 .folderButton__48112 {
	width: calc(1px * var(--guildsize_v)) !important;
	height: calc(1px * var(--guildsize_v)) !important;
}
.wrapper_ef3116 .folderGroup__48112 .folderHeader__48112 .svg_cc5dd2 svg {
	width: 24px !important;
	height: 24px !important;
}

/* SERVERFOLDERS */

.wrapper_ef3116.content_ac0584 {
	--columns_v: 		var(--SFcolumns, var(--columns));
	--guildsize_v: 		var(--SFguildsize, var(--guildsize));
	--guildgap_v: 		var(--SFguildgap, var(--guildgap));
}
.wrapper_ef3116.content_ac0584 .scroller_ef3116 {
	padding-left: 0 !important;
}
.wrapper_ef3116.content_ac0584 .folderGroup__48112 {
	width: calc(1px * (var(--guildsize_v) * var(--columns_v) + 20 * (var(--guildsize_v)/50) + 14 * (var(--guildsize_v)/50) * (var(--columns_v) - 1))) !important;
	margin-right: 0 !important;
}
.wrapper_ef3116.content_ac0584 .folderGroup__48112 > .listItem__650eb {
	margin: calc(1px * var(--guildgap_v)) calc(5px * var(--guildsize_v)/50) calc(1px * var(--guildgap_v)) 0 !important;
}
.wrapper_ef3116.content_ac0584 .folderHeader__48112,
.wrapper_ef3116.content_ac0584 .folderIconWrapper__48112,
.wrapper_ef3116.content_ac0584 .folderIcon__48112 {
	width: calc(var(--guildsize_v) * (var(--guildbar-avatar-size, calc(1px * var(--guildsize_v)))/calc(var(--guildsize_v)))) !important;
	height: calc(var(--guildsize_v) * (var(--guildbar-avatar-size, calc(1px * var(--guildsize_v)))/calc(var(--guildsize_v)))) !important;
}
.wrapper_ef3116.content_ac0584 .folderGroup__48112 .folderGroupBackground__48112 {
	right: 0 !important;
	width: calc(100% - calc(5px * var(--guildsize_v)/50)) !important;
}
.wrapper_ef3116.content_ac0584 .folderGroup__48112 [role="group"] {
	width: auto !important;
	margin: 0 !important;
	padding: 0 0 0 calc(10px * var(--guildsize_v)/50) !important;
	display: flex !important;
	flex-flow: row wrap !important;
	justify-content: space-between !important;
}
.wrapper_ef3116.content_ac0584 .folderGroup__48112 .folderGroupBackground__48112 ~ [role="group"] {
	padding-bottom: calc(8px * var(--guildsize_v)/50) !important;
}

html .typingindicator-guild,
html .typingindicator-dms,
html .typingindicator-folder {
	right: 3px !important;
	top: calc(var(--guildsize_v) * 1px - 5px) !important;
	bottom: unset !important;
}

.wrapper_ef3116 .folderGroup__48112 [role="group"][style*="height:"] {
	height: unset !important;
}

.wrapper_ef3116 .childWrapper__6e9f8,
.wrapper_ef3116 .childWrapperNoHoverBg__6e9f8 {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}

/* ========================================
   Discord Animations
   ======================================== */

/* Skeleton Loading Animation */
@keyframes BA__skeletonAnimation {
    0%, 100% { opacity: .15; }
    50% { opacity: .075; }
}

/* Spotlight Rotation */
@keyframes BA__spotlightAnimationRotate {
    0% { rotate: 0deg; }
    100% { rotate: 360deg; }
}

/* Spotlight Entry */
@keyframes BA__spotlightAnimationEnter {
    0% {
        scale: .3;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

/* Fade Transitions */
.discord-fade-enter-active,
.discord-fade-exit-active {
    transition: opacity .4s;
}

.discord-fade-enter,
.discord-fade-exit-active {
    opacity: 0;
}

/* Smooth transitions for interactive elements */
.discord-smooth-hover {
    transition: background-color .2s, color .2s;
}

/* Button transitions */
.discord-button-transition {
    transition: background-color .1s, border-color .1s, color .1s;
}

/* Icon rotation animation */
.discord-icon-rotate {
    transition: transform .2s;
}

.discord-icon-rotate:hover {
    transform: rotate(15deg);
}

/* Smooth expand/collapse */
.discord-expand {
    transition: transform .2s;
    transform: rotate(-90deg);
}

.discord-expand.active {
    transform: rotate(0);
}

/* Scale on hover */
.discord-scale-hover {
    transition: transform .2s, opacity .2s;
}

.discord-scale-hover:hover {
    transform: scale(1.05);
}

/* Slide in from right */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Slide in from left */
@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Slide in from top */
@keyframes slideInTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Slide in from bottom */
@keyframes slideInBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Bounce in */
@keyframes bounceIn {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
    }
    70% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Zoom in */
@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Zoom out */
@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

/* Fade in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fade out */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Rotate in */
@keyframes rotateIn {
    from {
        transform: rotate(-200deg);
        opacity: 0;
    }
    to {
        transform: rotate(0);
        opacity: 1;
    }
}

/* Pulse */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Shake */
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

/* Apply animations to Discord elements */

/* Apply to messages */
[class*="message-"] {
    animation: slideInLeft 0.3s ease-out;
}

/* Apply to modals */
[class*="modal"] {
    animation: zoomIn 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Apply to popouts */
[class*="popout"] {
    animation: fadeIn 0.2s ease-out;
}

/* Apply to tooltips */
[class*="tooltip"] {
    animation: fadeIn 0.15s ease-out;
}

/* Smooth transitions for all interactive elements */
button,
[role="button"],
[class*="button"],
a {
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
}

button:hover,
[role="button"]:hover,
[class*="button"]:hover {
    transform: translateY(-2px);
}

/* Smooth transitions for settings panels */
[class*="contentRegion"] > * {
    animation: fadeIn 0.3s ease-out;
}